html, body {
	height: 100%;
}

body {
	margin: 0px;
	padding: 0px;
	border: 0px;
	background: none;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 12pt;
	font-weight: 400;
	color: rgba(0,0,0,.8);
}


h1, h2, h3 {
	margin: 0;
	padding: 0;
	text-transform: none;
	font-weight: 300;
	color: #2D2D2D;
}


h2 {
	padding: 0px 0px 30px 0px;
	font-size: 2.50em;
}

p, ol, ul {
	margin-top: 0px;
}

p {
	line-height: 180%;
}

strong {
}

a {
	color: rgba(0,0,0,.8);
}


a img {
	border: none;
}

img.border {
}

img.alignleft {
	float: left;
}

img.alignright {
	float: right;
}

img.aligncenter {
	margin: 0px auto;
}

hr {
	display: none;
}

/** WRAPPER */

#wrapper {
	background: none;
	margin: 0px 0px;
}

.container {
	width: 1200px;
	margin: 0px auto; 
}

.clearfix {
	clear: both;
}

/** HEADER */

#header {
	overflow: hidden;
	height: 200px;
}

/** LOGO */

#logo {
	height: 150px;
	padding: 50px 0px 0px 0px;
}


#logo h1 {
	letter-spacing: -1px;
	text-transform: none;
	font-size: 3.5em;
}

/** PAGE */

#page {
	overflow: hidden;
	padding: 0em 0em;
}

/** CONTENT */

#content {
	float: right;
	width: 290px;
}

#sidebar2 h2
{
	font-size: 1.5em;
	font-weight: 400;
}

/** SIDEBAR 2 */

#sidebar2 {
	float: left;
	width: 850px;
  
}



/* List style 2 */

ul.style2 {
	margin: 0px;
	padding: 0px;
	list-style: none;
}

ul.style2 li {
	padding: 25px 0px 15px 0px;
	border-top: 1px solid #E6E7DC;
}

ul.style2 .first {
	padding-top: 0px;
	border-top: none;
}

ul.style2 h3 {
	padding: 0px 0px 10px 0px;
	font-size: 1.10em;
}

ul.style2 h3 a {
	color: #2020BF;
}

ul.style2 a {
	text-decoration: none;
}

ul.style2 a {
	text-decoration: none;
  color: #0365C0;
}





.link-style {
	display: inline-block;
	margin-top: 20px;
	padding: 7px 20px;
	border-radius: 0px;
	color:  #0365C0;
}

/* social icon section */
.social-icons {
  padding: 0;
  margin: 0;
}
.social-icons li {
  display: inline-block;
  list-style: none;
}
.social-icons li a {
  background: #C60;
  border-radius: 50%;
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  transition: all 0.4s ease-in;
  position: relative;
  bottom: 10px;
  top: 10px;
}
.social-icons li a:hover {
  background: #202020;
  color: #fff;
}

.about {
  background: #fff;
  box-shadow: 6px 5px 12px 0px rgba(0, 89, 198, 0.81);;
}
.about .fa {
  padding-right: 6px;
padding-left: 6px;
}
.about {
  padding: 20px;
  margin-top: 10px;
}
.bluee {
color: #06386d;
}

footer {
  color: #f9f9f9;
  text-align: center;
  padding-top: 100px;
  padding-bottom: 50px;
}


